/* General styling */
body {
    font-family: 'Open Sans', sans-serif;
    background: url('/static/background_index.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Input group styling */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #34495e;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #3498db;
    outline: none;
}

/* Button styling */
.btn {
    background-color: #2ecc71;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn:hover {
    background-color: #27ae60;
}

/* Water Quality Standards */
h2 {
    margin-top: 30px;
    color: #2c3e50;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Align text to the left for better readability */
}

ul li {
    margin: 10px 0;
    padding: 5px;
    background-color: #f1f1f1; /* Light background for each list item */
    border-radius: 5px; /* Rounded corners */
    border-left: 5px solid #2ecc71; /* Green left border */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 14px;
    }
}
